* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Palette';
  src: url("../public/Catamaran/Catamaran-SemiBold.ttf");
}

.navigation {
  width: 20vw;
  margin: auto 2.5vw;
  height: 50vh;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.item-menu {
  width: 100%;
  height: 5.55556vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.menu-option {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 5.55556vh;
  border-radius: 10px;
}

.menu-option::before, .menu-option::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  border-radius: 10px;
}

.menu-option::before {
  width: 100%;
  height: 2.77778vh;
  -webkit-box-shadow: 0px 0px 3px 3px grey;
          box-shadow: 0px 0px 3px 3px grey;
}

.menu-option::after {
  -webkit-box-shadow: 0px 0px 5px 5px black;
          box-shadow: 0px 0px 5px 5px black;
  width: 97%;
  height: 2.77778vh;
  bottom: 0px;
  left: 2px;
}

.menuRoll__left, .menuRoll__right {
  position: absolute;
  bottom: 2.08333vh;
  width: 3%;
  height: 1.38889vh;
  border: 1px #2d2d2d solid;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
  background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
}

.menuRoll__left__top, .menuRoll__right__top {
  bottom: -1.85185vh;
}

.menuRoll__left__bottom, .menuRoll__right__bottom {
  top: -1.85185vh;
}

.menuRoll__right {
  left: 1px;
}

.menuRoll__left {
  right: 1px;
}

.halfCardMenu {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.77778vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  font-family: 'Palette';
  font-size: 4.16667vh;
  color: white;
}

.tophalf, .tophalf--selected, .tophalf__back, .tophalf__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
  background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* for Safari */
  background-clip: padding-box;
  border-top: 2px #b2b2b2 solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.tophalf span, .tophalf--selected span, .tophalf__back span, .tophalf__back--selected span {
  position: absolute;
  left: 0;
  top: 1.38889vh;
  line-height: 2.77778vh;
  width: 100%;
  height: 2.77778vh;
}

.tophalf--selected, .tophalf__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
  background-image: linear-gradient(#ffda61, #fcb620, #d49100);
}

.bottomhalf, .bottomhalf--selected, .bottomhalf__back, .bottomhalf__back--selected {
  top: 2.77778vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
  background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomhalf span, .bottomhalf--selected span, .bottomhalf__back span, .bottomhalf__back--selected span {
  position: absolute;
  bottom: 1.21111vh;
  left: 0;
  width: 100%;
  height: 2.77778vh;
  line-height: 2.77778vh;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.bottomhalf--selected, .bottomhalf__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
  background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
}

.bottomhalf__back, .bottomhalf__back--selected {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.item-menu {
  margin: .5vh auto;
}

.menuOverlay {
  position: absolute;
  height: inherit;
  width: inherit;
}

.hover-menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bebebe), color-stop(#8b8b8b), to(#4e4e4e));
  background-image: linear-gradient(#bebebe, #8b8b8b, #4e4e4e);
}

.hover-menu__bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#747474), color-stop(#4e4e4e), to(#000000));
  background-image: linear-gradient(#747474, #4e4e4e, #000000);
}

.activeMenu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
  background-image: linear-gradient(#ffda61, #fcb620, #d49100);
}

.activeMenu__bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
  background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
}

.activeMenuHover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe388), color-stop(#ffc852), to(#ffb71b));
  background-image: linear-gradient(#ffe388, #ffc852, #ffb71b);
}

.activeMenuHover__bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd54d), color-stop(#ffd375), to(#ffb20b));
  background-image: linear-gradient(#ffd54d, #ffd375, #ffb20b);
}

.board {
  height: 80vh;
  width: 75vw;
  margin: auto 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flipperContainer {
  width: 4.62329vw;
  height: 10vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flipCard {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 4.62329vw;
  height: 10vh;
  border-radius: 10px;
}

.flipCard::before, .flipCard::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  border-radius: 10px;
}

.flipCard::before {
  width: 4.62329vw;
  height: 5vh;
  -webkit-box-shadow: 0px 0px 3px 3px grey;
          box-shadow: 0px 0px 3px 3px grey;
}

.flipCard::after {
  -webkit-box-shadow: 0px 0px 5px 5px black;
          box-shadow: 0px 0px 5px 5px black;
  width: 97%;
  height: 5vh;
  bottom: 0px;
  left: 2px;
}

.rollRight, .rollLeft {
  position: absolute;
  bottom: 3.75vh;
  width: 10%;
  height: 2.5vh;
  border: 1px #2d2d2d solid;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
  background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
}

.rollRight__top, .rollLeft__top {
  bottom: -3.33333vh;
}

.rollRight__bottom, .rollLeft__bottom {
  top: -3.33333vh;
}

.rollLeft {
  left: 1px;
}

.rollRight {
  right: 1px;
}

.halfCard {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.62329vw;
  height: 5vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  font-family: 'Palette';
  font-size: 7.5vh;
  color: white;
}

.topCard, .topCard--selected, .topCard__back, .topCard__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
  background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* for Safari */
  background-clip: padding-box;
  border-top: 2px #b2b2b2 solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.topCard span, .topCard--selected span, .topCard__back span, .topCard__back--selected span {
  position: absolute;
  left: 0;
  top: 2.5vh;
  line-height: 5vh;
  width: 4.62329vw;
  height: 5vh;
}

.topCard--selected, .topCard__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda61), color-stop(#fcb620), to(#d49100));
  background-image: linear-gradient(#ffda61, #fcb620, #d49100);
}

.bottomCard, .bottomCard--selected, .bottomCard__back, .bottomCard__back--selected {
  top: 5vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
  background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomCard span, .bottomCard--selected span, .bottomCard__back span, .bottomCard__back--selected span {
  position: absolute;
  bottom: 2.18vh;
  left: 0;
  width: 4.62329vw;
  height: 5vh;
  line-height: 5vh;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.bottomCard--selected, .bottomCard__back--selected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc524), color-stop(#ffd359), to(#b97f00));
  background-image: linear-gradient(#ffc524, #ffd359, #b97f00);
}

.bottomCard__back, .bottomCard__back--selected {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.someClass {
  color: yellow;
}

/** Affichage de base**/
body {
  background-color: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */