* {
  margin: 0;
  padding: 0;
}

.board {
  height: 80vh;
  width: 65vw;
  margin: auto 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flipperContainer {
  width: 175px;
  height: 250px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flipCard {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 175px;
  height: 250px;
  border-radius: 10px;
}

.flipCard::before, .flipCard::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  border-radius: 10px;
}

.flipCard::before {
  width: 175px;
  height: 130px;
  -webkit-box-shadow: 0px 0px 5px 5px grey;
          box-shadow: 0px 0px 5px 5px grey;
}

.flipCard::after {
  -webkit-box-shadow: 0px 0px 10px 8px black;
          box-shadow: 0px 0px 10px 8px black;
  width: 170px;
  height: 125px;
  bottom: 0px;
  left: 2px;
}

.rollLeft, .rollRight {
  position: absolute;
  bottom: calc(50% - 25px);
  width: 10%;
  height: 50px;
  border: 1px #2d2d2d solid;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#3d3d3d), color-stop(silver), color-stop(#3d3d3d), to(#000));
  background-image: linear-gradient(#000, #3d3d3d, silver, #3d3d3d, #000);
}

.rollLeft__top, .rollRight__top {
  bottom: -28px;
}

.rollLeft__bottom, .rollRight__bottom {
  top: -28px;
}

.rollLeft {
  left: 1px;
}

.rollRight {
  right: 1px;
}

.halfCard {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 175px;
  height: 125px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  font-size: 200px;
  color: white;
}

.halfCard span {
  position: absolute;
  left: 0;
  width: 175px;
  height: 125px;
}

.topCard {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.topCard, .topCard__back {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), color-stop(#4d4d4d), to(#0d0d0d));
  background-image: linear-gradient(#7d7d7d, #4d4d4d, #0d0d0d);
  border-bottom: 1px black solid;
  border-top: 2px #b2b2b2 solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.bottomCard, .bottomCard__back {
  top: 125px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), color-stop(#3d3d3d), to(#0d0d0d));
  background-image: linear-gradient(#1d1d1d, #3d3d3d, #0d0d0d);
  border-top: 1px black solid;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomCard span, .bottomCard__back span {
  top: -125px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.bottomCard__back {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all .15s linear .15s;
  transition: all .15s linear .15s;
}

.flipCard:hover .bottomCard__back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  border-top: transparent;
}

.flipCard:hover .topCard {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  border-bottom: transparent;
}

.navigation {
  width: 20vw;
  background-color: white;
  margin: auto 2.5vw;
  height: 50vh;
}

/** Affichage de base**/
body {
  background-color: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */