.navigation{

    width:20vw;
    margin:auto 2.5vw;
    height:50vh;
}

.nav-menu{
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-content:center;
}
@include FlipCard(item-menu, menu-option, menuRoll__left, menuRoll__right, halfCardMenu, tophalf, bottomhalf,100%,(50vh/9),3%);

.item-menu{
    margin:.5vh auto;
}
.menuOverlay{
  position:absolute;height:inherit;width:inherit;
}

  .hover-menu{
    background-image:linear-gradient(#bebebe,#8b8b8b,#4e4e4e);
  }
  .hover-menu__bottom{
    background-image:linear-gradient(#747474,#000000,#3a3a3a);
  }

  .activeMenu{
    background-image:linear-gradient(#ffda61,#fcb620,#d49100);
  }
  .activeMenu__bottom{
    background-image:linear-gradient(#ffc524,#ffd359,#b97f00);
  }
  .activeMenuHover{
    background-image:linear-gradient(#ffda61,#fcb620,#d49100);
  }